.CaseStudies .PostCard--Title {
	text-transform: none;
	font-size: 1.4rem;
	color: rgba(65,63,71,0.7);
	margin: 0;
}

.CaseStudies .PostCard--Subtitle {
	text-transform: uppercase;
	font-size: 1.8rem;
	color: #212121;
	margin: 0;
}

@media only screen and (max-width: 320px) {
	.CaseStudies .intro-section h2 {
		font-size: 2rem;
	}
}
