.SinglePost {
}

.SinglePost--BackgroundImage {
  height: 40rem !important;
}

.SinglePost--BackButton {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 1rem;
}

.SinglePost--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.SinglePost--BackButton:hover svg,
.SinglePost--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.post-icon {
  background-color: white;
  border-radius: 100%;
  padding: 1rem;
  display: inline-block;
  margin: 0 auto 4rem;
}

.SinglePost--Content {
  margin-top: 33rem;
  text-align: center;
}

.SinglePost--Content .Content {
  text-align: left;
}

.SinglePost--Meta {
  font-size: 1.4rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.SinglePost--Meta > * + * {
  margin-left: 0.75em;
}

.SinglePost--Title {
  text-align: center;
  line-height: 1.2;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 3.6rem;
}

.SinglePost--InnerContent {
  padding: 0 8rem;
}

.SinglePost--Pagination {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SinglePost--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.SinglePost--Pagination--Link:hover {
  opacity: 0.6;
}

.SinglePost--Pagination--Link.next {
  margin-left: auto;
}

.gatsby-resp-image-wrapper {
  max-width: 100% !important;
  margin: 2rem 0;
}
