.SingleCaseStudy--Content {
	padding: 10rem 0 0;
}

.SingleCaseStudy--Content .share-buttons {
	margin-bottom: 6rem;
}

.SingleCaseStudy h2 {
	text-align: center;
}

.SingleCaseStudy .SinglePost--Meta {
	margin-bottom: 6rem;
}

.SingleCaseStudy .SinglePost--Meta * {
	font-size: 1.8rem;
	color: #212121;
	text-transform: uppercase;
	display: inline-block;
}

.SingleCaseStudy--Body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 8rem;
}

.columnLeft {
	flex: 0 0 40%;
	margin-right: 4rem;
	position: relative;
	display: flex;
	flex-direction: column;
}

.columnLeft .img-container {
	position: relative;
	flex: 1;
	margin-bottom: 2rem;
}

.columnLeft .video-section {
	margin: 0;
}

.columnLeft div:last-of-type {
	margin-bottom: 0;
}

.columnRight {
	flex: 1;
}

.columnRight .Content {
	margin-bottom: 8rem;
}

.quote {
	padding: 7rem 6rem;
	box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);
	position: relative;
}

.quote .name {
	text-transform: uppercase;
	position: absolute;
	top: 2rem;
	right: 4rem;
	font-size: 1.8rem;
	font-weight: 600;
}

.quote svg {
	position: absolute;
	top: -2rem;
	left: 3rem;
	height: 4rem;
}

.quote p {
	font-size: 2rem;
	color: #212121;
}

.SingleCaseStudy .video {
	min-height: 30rem;
	margin: 4rem 0 0;
}

.SingleCaseStudy .share-buttons {
	justify-content: center;
}

@media only screen and (max-width: 1024px) {
	.SingleCaseStudy--Content {
		padding: 5rem 0 0;
	}
}

@media only screen and (max-width: 1000px) {
	.columnRight .Content {
		margin-bottom: 6rem;
	}

	.quote {
		padding: 6rem 4rem 4rem;
	}

	.quote .name {
		font-size: 1.6rem;
	}

	.quote p {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width: 768px) {
	.columnRight .Content {
		margin-bottom: 4rem;
	}

	.quote {
		padding: 6rem 3rem 2rem;
	}

	.quote p {
		font-size: 1.6rem;
	}
}

@media only screen and (max-width: 765px) {
	.SingleCaseStudy--Body > div {
		flex: 0 0 100%;
	}

	.columnLeft {
		flex-direction: row;
		margin: 0 0 3rem;
	}

	.columnLeft .img-container {
		padding-bottom: 30vw;
		flex: 1;
		margin: 0 2rem 0 0;
	}

	.columnLeft .img-container:last-of-type {
		margin: 0;
	}
}

@media only screen and (max-width: 425px) {
	.SingleCaseStudy h2 {
		margin-bottom: 1rem;
		font-size: 2.8rem;
	}

	.SingleCaseStudy .SinglePost--Meta {
		margin-bottom: 4rem;
	}

	.SingleCaseStudy .SinglePost--Meta * {
		font-size: 1.6rem;
	}
}

@media only screen and (max-width: 375px) {
	.columnLeft {
		flex-wrap: wrap;
	}

	.columnLeft .img-container {
		padding-bottom: 45vw;
		flex: 0 0 100%;
		margin: 0 0 2rem;
	}

	.SingleCaseStudy--Body {
		margin-bottom: 4rem;
	}

	.SingleCaseStudy h2 {
		font-size: 2.4rem;
	}

	.quote {
		padding: 4rem 3rem 2rem;
	}

	.quote .name {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 1.5rem;
	}
}

@media only screen and (max-width: 320px) {
	.SingleCaseStudy .SinglePost--Meta span {
		display: none;
	}

	.quote {
		padding: 4rem 2rem 2rem;
	}
}
