.boats-listing {
	padding: 4rem 0 8rem;
}

.boat {
	padding-bottom: 8rem;
	margin-bottom: 8rem;
	border-bottom: .1rem solid var(--primary);
	position: relative;
}

.virtual-tour {
	margin-top: 8rem;
}

.virtual-tour .Content {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width: 100%;
}

.virtual-tour .Content iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.boat:after {
	content: '';
	position: absolute;
	bottom: .5rem;
	left: 0;
	width: 100%;
	height: .1rem;
	background-color: var(--primary);
}

.boat .container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 4rem;
}

.boat .colRight {
	flex: 1;
}

.boat .colLeft {
	margin-right: 10rem;
	flex: 0 0 60%;
	position: relative;
}

.boat h3 {
	flex: 0 0 100%;
}

.boat .colLeft .Content {
	margin-top: 2rem;
}

.boat .colRight .Content {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: .1rem solid var(--secondary);
}

.boat .colRight .Content:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.boat:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}

.boat:last-of-type:after {
	display: none;
}
