.booking-iframe {
	max-height: 70rem;
	overflow: hidden;
	max-width: 35rem;
	position: relative;
	z-index: 2;
	margin: 0 auto;
	padding-top: 2rem;
}

.booking-iframe .button-booking {
	padding: 1rem 3rem !important;
	margin: 0;
	background-color: #183c85;
	color: white; 
	border-radius: 2rem;
	text-transform: uppercase;
	font-size: 1.4rem !important;
	font-weight: normal !important;
	line-height: 2rem !important;
	transition: all ease-in-out 0.2s;
	box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
	width: 100% !important;
	display: block;
  }
  
  .booking-iframe .button-booking:hover {
	background-color: white;
	color: #212121;
  }