.BookingForm {
	justify-content: space-between !important;
	align-items: stretch !important;
	max-width: 100% !important;
}

.BookingForm .Form--Label {
	flex: 0 0 48%;
	margin-bottom: 1.5rem;
	position: relative;
	display: flex;
	align-items: flex-end;
	border-bottom: .1rem solid var(--primary);
}

.BookingForm .Form--Label .date-label {
	padding: 0 2rem 1rem;
	color: var(--primary);
	line-height: 1.2;
}

.BookingForm .Form--Label span {
	font-size: 1.2rem;
	color: var(--primary);
	line-height: 1.1;
}

.BookingForm .Form--Input {
	background-color: transparent;
	border: none;
}

.BookingForm .Form--Input::placeholder {
	color: var(--primary);
}

.BookingForm .has-arrow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.BookingForm .has-arrow svg {
	height: 1rem !important;
}

.BookingForm .select-dropdown p {
	margin-bottom: 0;
}

.BookingForm .date-section {
	position: relative;
	margin-top: 2rem;
}

.react-datepicker-wrapper {
	position: relative;
	z-index: 99;
}

.BookingForm .date-section .date-label {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.BookingForm .date-section .date-label.active {
	opacity: 0;
}

.BookingForm .form-footer {
	border-bottom: .1rem solid var(--primary);
	position: relative;
	margin-top: 4rem;
	padding: 0;
}

.BookingForm .form-footer:before, .BookingForm .Form--Label:after {
	content: '';
	position: absolute;
	bottom: 0.3rem;
	left: 0;
	width: 100%;
	height: .1rem;
	background-color: var(--primary);
}

.BookingForm .button {
	padding: 2rem 6rem 2rem 2rem;
}

.BookingForm .form-footer svg {
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
}

.BookingForm .Form--Alert {
	font-size: 2.4rem;
}

/*Number Picker*/

.BookingForm .Form--Label.full-width {
	flex: 0 0 100%;
	display: flex;
	align-items: center;
	border: none;
	margin: 4rem 0;
}

.BookingForm .Form--Label.full-width:after {
	display: none;
}

.BookingForm .Form--Label.full-width span {
	flex: 0 0 48%;
	margin-right: 4%;
	font-size: 1.6rem;
	padding: 1rem 2rem;
}

.BookingForm .react-numeric-input {
	margin: 0 !important;
	flex: 0 0 20% !important;
	padding: 0 !important;
}

.BookingForm .react-numeric-input .form-control {
	border: .2rem solid var(--primary);
	background-color: transparent;
	padding: 1rem;
	outline: none;
	width: 100%;
}

.BookingForm .react-numeric-input b {
	background-color: var(--primary) !important;
	border-radius: 0 !important;
}

.BookingForm .react-numeric-input b i {
	background: white !important;
}



/*Date Picker*/

.BookingForm .Form--Label > div {
	width: 100%;
}

.react-datepicker-wrapper, .react-datepicker__input-container, .Form--Input {
	width: 100%;
}

.react-datepicker-wrapper .Form--Input {
	box-shadow: none;
}

.react-datepicker {
	position: relative;
	border: none !important;
	box-shadow: 0 2px 10px 2px rgba(0,0,0,0.3);
}

.react-datepicker-popper, .react-datepicker, .react-datepicker__month-container {
	width: 100% !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
	border-bottom-color: var(--primary) !important;
}

.react-datepicker__navigation {
	position: absolute;
	margin: 0 !important;
	top: 1.6rem !important;
	width: 0;
	height: 0;
	border: white;
	border-style: solid;
}

.react-datepicker__navigation--previous {
	left: 1rem;
	border-width: 5px 8.7px 5px 0;
	border-color: transparent white transparent transparent !important;
}

.react-datepicker__navigation--next {
	right: 1rem;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent #ffffff;
}

.react-datepicker__header {
	background-color: #25272C !important;
	border: none !important;
	padding-top: 1.5rem !important;
}

.react-datepicker__month {
	margin-top: 0;
}

.react-datepicker__month-container {
	background-color: #25272C;
	padding: 1rem;
}

.react-datepicker__day-names {
	margin-top: .5rem;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__current-month {
	color: rgba(255,255,255,0.9) !important;
	font-size: 1.6em;
	font-family: var(--coromant);
	transition: all ease-in-out .1s;
	margin: .5rem 1rem;
}

.react-datepicker__current-month {
	margin: .5rem 1rem;
	padding-bottom: 1rem;
	border-bottom: 0.5px solid #979797;
}

.react-datepicker__day:hover {
	background-color: var(--goldenBrown) !important;
	border-radius: 0 !important;
}

.react-datepicker__day--outside-month {
	color: rgba(255,255,255,0.3) !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
	background-color: var(--goldenBrown) !important;
	border-radius: 0 !important;
}
