.button {
  color: var(--primary);
  font-size: 1.6rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: .1rem solid var(--primary);
  position: relative;
  padding: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease-in-out .2s;
  line-height: 1;
}

.button:before {
  content: '';
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary);
}

.button svg {
  height: 1rem;
  margin-left: 1rem;
  transition: all ease-in-out .2s;
}

.button:hover svg,
.button:focus svg {
  transform: translateX(0.25em);
}

.button:hover,
.button:focus {
  transform: scale(1.05);
}

.button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Button White*/

.buttonWhite.button {
  margin-top: 3rem;
  border-color: white;
  color: white;
}

.buttonWhite.button:before {
  background-color: white;
}

.buttonWhite.button svg * {
  fill: white;
}







