.captains-listing {
	display: flex;
	flex-wrap: wrap;
}

.member {
	flex: 1;
	text-align: center;
}

.member + .member {
	margin-left: 6rem;
}

.member .image-container {
	height: 24rem;
	width: 24rem;
	border-radius: 100%;
	overflow: hidden;
	border: .5rem solid white;
	box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);
	margin: 0 auto 4rem;
}

.member h4 {
	margin: 0;
}

.member .Content {
	text-align: left;
	margin: 2rem 0 4rem;
}

@media only screen and (max-width: 765px) {
	.member {
		flex: 0 0 100%;
	}

	.member + .member {
		margin: 4rem 0 0;
	}

	.member .Content {
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	.member .Content * {
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 425px) {
	.member + .member {
		margin: 2rem 0 0;
	}

	.member .image-container {
		height: 20rem;
		width: 20rem;
		margin: 0 auto 2rem;
	}

	.member h4 {
		font-size: 2rem;
		line-height: 1.2;
		margin: 0 0 1rem;
	}
}
