.columnsBanner {
  display: flex;
}

.bannerColumn {
  flex: 1;
  text-align: center;
  padding: 18rem 12rem;
}

.bannerColumn h2 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
}

.bannerColumn .button {
  display: inline-block;
}

.bannerColumn .button svg {
  margin-left: 2rem;
}

/*Boat Tour*/

.columnsBanner.boatTour .bannerColumn {
  text-align: left;
}

.columnsBanner.boatTour .bannerColumn:first-of-type:before {
  display: none;
}

.columnsBanner.boatTour h2 {
  background: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: #212121;
  color: #212121;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.columnsBanner.boatTour .button {
  color: #212121;
  border-color: #212121;
}

.columnsBanner.boatTour .button:after {
  background-color: #212121;
}

.columnsBanner.boatTour .button svg * {
  fill: #212121;
}

/* BookingIframe */

.bookingIframe .bannerColumn {
  display: flex;
  align-items: center;
}

.bookingIframe .bannerColumn #button-booking {
  background: transparent !important;
  color: #212121 !important;
  border: none !important;
  border-bottom: 1px solid #212121 !important;
  margin-top: 1.5rem;
  text-align: left !important;
  font-size: 1.6rem !important;
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 400 !important;
  padding: 1.8rem !important;
  position: relative;
}

.bookingIframe .bannerColumn #button-booking:before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #212121;
}

.bookingIframe .bannerColumn #button-booking:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.8rem;
  width: 2rem;
  height: 1rem;
  background-image: url(/images/button-arrows.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media only screen and (max-width: 1280px) {
  .bannerColumn {
    padding: 12rem 8rem;
  }

  .bannerColumn h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .bookingIframe .bannerColumn {
    padding: 5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .bannerColumn {
    padding: 8rem 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .bannerColumn h2 {
    font-size: 2.6rem;
  }

  .bookingIframe .bannerColumn {
    padding: 3rem;
  }

  .bannerColumn .button {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 675px) {
  .bannerColumn {
    padding: 6rem 2rem;
  }

  .bannerColumn h2 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 575px) {
  .bannerColumn {
    padding: 4rem 2rem;
  }

  .bannerColumn h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .columnsBanner {
    flex-wrap: wrap;
  }

  .bannerColumn {
    flex: 0 0 100%;
    min-height: 25rem;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 425px) {
  .bannerColumn .container {
    text-align: center;
  }

  .bookingIframe .bannerColumn #button-booking {
    margin: 1.5rem auto 0;
  }
}

@media only screen and (max-width: 320px) {
  .bannerColumn {
    padding: 4rem 1rem;
  }
}
