.contentBox {
	border: .1rem solid #212121;
}

.contentBox-container {
	margin: .5rem;
	padding: 5rem;
	border: .1rem solid #212121;
	text-align: center;
}

.contentBox h3 {
	font-size: 2.3rem;
}

.contentBox .button {
	display: inline-block;
}


@media only screen and (max-width: 425px) {
	.contentBox-container {
		padding: 3rem;
	}

	.contentBox h3 {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width: 320px) {
	.contentBox-container {
		padding: 2.5rem 2rem;
	}
}
