.EnquiryForm {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 4rem;
}

.EnquiryForm .Form--Label {
	flex: 0 0 46%;
	width: 46%;
}

.EnquiryForm .Form--Input {
	background-color: transparent;
	border-bottom-color: rgba(255,255,255,0.6) !important;
	padding: .8rem;
	margin-bottom: 2rem;
	color: rgba(255,255,255,0.6);
}

.EnquiryForm .Form--Input::placeholder {
	color: white;
	opacity: 0.6;
	font-size: 1.4rem;
}

.EnquiryForm .TextArea {
	flex: 0 0 100%;
	width: 100%;
}

.EnquiryForm .form-footer {
	flex: 0 0 100%;
	display: flex;
	justify-content: flex-end;
}

.EnquiryForm .button {
	border: none;
}

.EnquiryForm .form-footer svg * {
	fill: white;
}

@media only screen and (max-width: 765px) {
	.EnquiryForm .form-footer {
		justify-content: center;
		align-items: center;
	}

	.EnquiryForm .form-footer svg {
		position: relative;
		top: 0;
		transform: translate(-100%, 0);
	}

	.form-footer .button:hover + svg {
	  transform: scale(1.05) translate(-100%, 0);
	}
}

@media only screen and (max-width: 425px) {
	.EnquiryForm .Form--Label {
		flex: 0 0 100%;
		width: 100%;
	}
}
