.featuredPostsSection {
	padding-bottom: 16rem;
}

.featuredPosts {
	display: flex;
	flex-wrap: wrap;
}

.featuredPosts .PostCard {
	flex: 1;
	margin-right: 4%;
}

.featuredPosts .PostCard:last-of-type {
	margin-right: 0;
}

.featuredPosts .button:before {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.featuredPostsSection {
		padding-bottom: 8rem;
	}

	.featuredPostsSection .intro-section {
		padding-top: 0;
	}
}

@media only screen and (max-width: 768px) {
  .featuredPostsSection {
    padding-bottom: 4rem;
  }

	.featuredPostsSection .intro-section {
		padding: 0 0 4rem;
	}
}

@media only screen and (max-width: 700px) {
  .featuredPosts .PostCard {
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 425px) {
	.featuredPostsSection {
		padding-bottom: 4rem;
	}
}
