.Footer {
  padding: 6rem 0 0;
  background: var(--darkBlue);
  border-top: 4rem solid var(--midBlue);
}

.Footer .share-buttons a {
	border-color: white;
}

.Footer .share-buttons a:hover {
	background-color: rgba(255,255,255,0.3);
}

.Footer .Footer-Top {
	display: flex;
	flex-wrap: wrap;
}

.Footer .Footer-Top > div {
	flex: 1;
	margin-right: 4rem;
}

.Footer .Footer-Top .sail-icon {
	flex: 0 0 100%;
	margin-bottom: 2rem;
}

.Footer .Footer-Top .col4 {
	flex: 0 0 30%;
}

.Footer .Footer-Top .sail-icon svg {
	height: 4rem;
	width: auto;
}

.Footer .Footer-Top .sail-icon svg * {
	fill: white;
}

.Footer * {
	color: white;
}

.Footer .Footer-Top h4 {
	font-size: 1.6rem;
	margin-top: 4rem;
}

.Footer .footer-col h4:first-of-type {
	margin-top: 0;
}

.Footer .Footer-Top .NavLink, .Footer .Footer-Top p, .Footer .Footer-Top .NavLink.active {
	font-size: 1.4rem;
	text-transform: none;
	padding: .5rem;
	margin: 0;
	opacity: 0.6;
	color: white;
}

.Footer .NavLink:hover {
	background-color: transparent;
	opacity: 1;
}

.Footer .Footer-Bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 6rem;
	padding: 2rem;
	border-top: .1rem solid white;
}

.Footer .Footer-Bottom * {
	opacity: .7;
	font-size: 1.4rem;
}

@media only screen and (max-width: 1150px) {
  .Footer .Footer-Top .col4 {
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 765px) {
  .Footer .Footer-Top .footer-col {
    flex: 0 0 100%;
    text-align: center;
    margin: 0 0 4rem;
  }

  .Footer .Footer-Top .sail-icon {
    text-align: center;
  }

  .Footer .share-buttons {
    margin: 2rem 0 0;
    justify-content: center;
  }

  .Footer .Footer-Bottom {
    margin-top: 0;
  }
}

@media only screen and (max-width: 550px) {
  .Footer .Footer-Bottom {
    flex-direction: column;
    text-align: center;
  }

  .Footer .Footer-Bottom span {
    margin-bottom: .5rem;
  }
}
