.InstagramSection {
  display: flex;
  justify-content: space-between;
  padding-left: 20rem;
}

.insta-intro {
  padding-top: 6rem;
}

.InstagramSection h2 {
  display: flex;
  align-items: center;
}

.InstagramSection h2 svg {
  height: 3rem;
  margin-right: 2rem;
}

.InstagramSection .button {
  display: inline-block;
}

#instafeed {
  flex: 0 0 75%;
  max-height: 50vw;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.instagram-item {
  flex: 0 0 33.33%;
  height: 18.6vw;
  overflow: hidden;
  display: block;
  position: relative;
}

.instagram-item div {
  transform: scale(1);
  transition: all ease-in-out 0.2s;
}

.instagram-item:hover div {
  transform: scale(1.05);
}

.instafeed__item__overlay,
.instafeed__item__caption,
.instafeed__item__overlay--inner,
.instafeed__item__location {
  display: none;
}

@media only screen and (max-width: 1440px) {
  .InstagramSection {
    padding-left: 10rem;
  }

  #instafeed {
    margin-left: 6rem;
  }
}

@media only screen and (max-width: 1375px) {
  .InstagramSection {
    flex-wrap: wrap;
    padding-left: 0;
    text-align: center;
  }

  .insta-intro {
    flex: 0 0 100%;
    padding: 0;
    margin-bottom: 4rem;
  }

  .InstagramSection h2 {
    justify-content: center;
  }

  #instafeed {
    margin: 0;
    flex: 0 0 100%;
    max-height: none;
  }

  .instagram-item {
    height: 28.6vw;
  }
}

@media only screen and (max-width: 768px) {
  .InstagramSection h2 {
    font-size: 2.8rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 375px) {
  .insta-intro {
    margin-bottom: 2rem;
  }

  .InstagramSection h2 svg {
    height: 2rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .InstagramSection h2 {
    font-size: 2.4rem;
  }

  .instagram-item {
    flex: 0 0 50%;
    height: 44vw;
  }
}
