.intro-section {
	padding: 7.5rem 0;
	max-width: 55rem;
}

.intro-section h2 {
	font-weight: 400;
}


/*Align Center*/

.intro-section.alignCenter {
	max-width: 85rem;
}


/*Content Column*/

.contentColumn {
	padding: 12rem 0 7.5rem;
}

.contentColumn .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.contentColumn h2 {
	font-size: 2.8rem;
	flex: 0 0 40%;
}

.contentColumn .intro-section {
	padding: 0;
}
