.Nav {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.025);
}

.Nav--Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav--Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Nav .Logo {
  margin-right: 3rem;
  position: relative;
}

.Nav--MenuButton {
  display: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.NavLink {
  padding: 0;
  transition: all ease-in-out 0.2s;
}

.NavLink a,
.NavLink span {
  padding: 2rem;
  color: #212121;
  font-size: 1.4rem;
  transition: all ease-in-out 0.2s;
  opacity: 1;
  display: inline-block;
}

.NavLink:hover {
  background-color: #413F47;
}

.NavLink:hover a,
.NavLink:hover span,
.NavLink:hover .toggle-subNav {
  color: white;
}

.Nav li {
  list-style: none;
}

.NavLink:hover .parentLink {
  color: white;
}

.hasChildren {
  position: relative;
}

.NavLink .toggle-subNav {
  display: none;
}

.hasChildren .toggle-subNav {
  display: inline-block;
  position: relative;
  transform: translateX(-100%);
  font-size: 1.5rem;
  color: #212121;
  line-height: 1;
  font-weight: 400;
  position: relative;
  opacity: 1;
  transition: all ease-in-out 0.2s;
}

.hasChildren > span:after {
  content: '+';
  font-size: 1.5rem;
  color: #212121;
  line-height: 1;
  font-weight: 400;
  position: relative;
  margin-left: 0.8rem;
  opacity: 1;
  transition: all ease-in-out 0.2s;
}

.hasChildren .subMenu {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 100%;
  left: 0;
  min-width: 26rem;
  background-color: #413F47;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: all ease-in-out 0.2s;
  padding: 2rem 1rem;
}

.subMenu .NavLink {
  margin: 0;
  text-transform: none;
  display: block;
  padding: 0;
}

.subMenu .NavLink a {
  font-size: 1.6rem;
  color: white;
  opacity: 0.7;
  padding: 1rem 2rem;
}

.subMenu .NavLink a:hover {
  opacity: 1;
}

.hasChildren:hover a:after,
.hasChildren:hover span:after {
  color: white;
}

.hasChildren:hover .subMenu {
  opacity: 1;
  visibility: visible;
  max-height: 70rem;
}

.hasChildren.two-column .subMenu {
  display: flex;
  flex-wrap: wrap;
  min-width: 44rem;
  padding: 2rem 3rem;
}

.hasChildren.two-column .subMenu .NavLink {
  flex: 0 0 50%;
  position: relative;
}

.hasChildren.two-column .subMenu .NavLink:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  width: 0.4rem;
  height: 0.4rem;
  background-color: white;
  border-radius: 100%;
}

.nav-button {
  padding: 0.7rem 3rem;
  margin: 0;
  background-color: white;
  color: #212121;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: all ease-in-out 0.2s;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.nav-button:hover {
  background-color: #413F47;
  color: white;
}

@keyframes Nav--Link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}

@media only screen and (max-width: 1355px) {
  .NavLink a {
    padding: 1.5rem;
    font-size: 1.2rem;
  }

  .hasChildren.two-column .subMenu {
    padding: 1.5rem 2rem;
  }

  .hasChildren .subMenu {
    padding: 1rem;
  }

  .hasChildren.two-column .subMenu .NavLink:before {
    left: 0.8rem;
  }

  .subMenu .NavLink a {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }

  .nav-button {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .Nav {
    padding: 1.5rem 0;
  }

  .Nav .Nav--Container {
    justify-content: flex-start;
  }

   .Nav .nav-button {
    margin: 0 2rem 0 auto;
  }

  .Nav .Nav--MenuButton {
    display: block;
    z-index: 1;
  }

  .Nav .Logo {
    z-index: 1;
  }

  .Nav .Nav--Links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    animation: Nav--Links 0.2s ease;
    cursor: pointer;
  }

  .Nav .NavLink {
    text-align: center;
  }

  .Nav .NavLink span, .Nav .NavLink a {
    font-size: 1.4rem;
  }

  .Nav .NavLink:hover {
    background-color: white;
  }

  .Nav .NavLink:hover span,
  .Nav .NavLink:hover a,
  .Nav .NavLink:hover span:after,
  .Nav .NavLink:hover .toggle-subNav {
    color: #212121;
  }

  .Nav .hasChildren.two-column .subMenu {
    padding: 0;
  }

  .Nav .hasChildren .subMenu {
    display: block;
    position: relative;
    top: 0;
    background-color: white;
    text-align: center;
    padding: 0;
  }

  .Nav .subMenu .NavLink a {
    color: #212121;
  }

  .Nav .hasChildren:hover .subMenu {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
  }

  .Nav .hasChildren.active .subMenu {
    opacity: 1;
    visibility: visible;
    max-height: 70rem;
  }

  .Nav .hasChildren.two-column .subMenu {
    display: block;
  }

  .Nav .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Nav-active .Nav--Links {
    display: flex;
  }

  .Nav-active .NavLink {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

  .Nav .NavLink {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .Nav .NavLink:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  .Nav .NavLink:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  .Nav .NavLink:nth-of-type(4) {
    animation-delay: 0.3s;
  }
  .Nav .NavLink:nth-of-type(5) {
    animation-delay: 0.4s;
  }
  .Nav .NavLink:nth-of-type(6) {
    animation-delay: 0.5s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }
  .Nav .NavLink:nth-of-type(8) {
    animation-delay: 0.7s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }
}

@media (max-width: 600px) {
  .Nav {
    border-top: 3.7rem solid #3E4458;
    padding: 1rem 0;
  }

  .Nav .Nav--Container {
    justify-content: space-between;
  }

  .Nav .nav-button {
    position: absolute;
    bottom: calc(100% + 3.5px);
    padding: .5rem 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 16rem;
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: none;
    background-color: #2C3140;
    color: white;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .Logo {
    width: 20rem;
  }
}
