.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 14rem 0 10rem;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 12rem 0 6rem;
  }

  .PageHeader--Title {
    font-size: 4rem;
    line-height: 1.2;
  }
}

@media (max-width: 425px) {
  .PageHeader {
    margin-top: 3.7rem;
  }
}


@media (max-width: 375px) {
  .PageHeader--Title {
    font-size: 3.5rem;
  }
}
