.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 14rem 0 10rem;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
