.PostCategoriesNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 6rem 0 4rem;
  padding-bottom: 2rem;
  border-bottom: .1rem solid var(--primary);
  position: relative;
}

.PostCategoriesNav:after {
	content: '';
	position: absolute;
	bottom: -.5rem;
	left: 0;
	width: 100%;
	height: .1rem;
	background-color: var(--primary);
}

.PostCategoriesNav .NavLink {
  margin-left: 2rem;
}

.PostCategoriesNav .NavLink:first-of-type {
  margin-left: 0;
}

.PostCategoriesNav .NavLink:hover {
  background-color: transparent;
  color: var(--primary);
  opacity: 0.5;
}
