.PostSection {
  margin-bottom: 12rem;
}

.PostSection--Grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 4rem;
}

.PostSection--Grid > * {
  width: calc(33.33% - 2rem);
  margin-bottom: 4rem;
}

@supports (display: grid) {
  .PostSection--Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  .PostSection--Grid > * {
    width: auto;
    margin: 0;
  }

  /*Boat Tours*/
  .PostSection.boatTours {
    margin-bottom: 0;
  }

  .PostSection.boatTours .PostSection--Grid {
    grid-gap: 0;
    margin-bottom: 0;
  }
}

.PostSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

.load-more .button {
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .PostSection {
    margin-bottom: 6rem;
  }
  
  .PostSection--Grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 425px) {
  .PostSection--Grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
