.secondary-banner {
	padding: 8rem 0;
}

.secondary-banner .container {
	display: block !important;
	text-align: center;
}

.secondary-banner .container * {
	color: white;
}

.secondary-banner h2 {
	margin-bottom: 0;
}

.secondary-banner h4 {
	font-size: 2rem;
}

.secondary-banner .button {
	display: inline-block;
}

/*Banner Large*/

.secondary-banner.bannerLarge {
	padding: 20rem 0;
}


/*Content Box*/

.secondary-banner.contentBox:before {
	display: none;
}

.secondary-banner.contentBox .container {
	background-color: rgba(0,0,0,0.4);
	width: 40%;
	padding: 6rem;
}

.secondary-banner.contentBox .button {
	display: inline-block;
	margin: 0;
}

.secondary-banner.contentBox h2 {
	font-size: 2rem;
}

.secondary-banner.contentBox h4 {
	font-size: 4.6rem;
	margin-bottom: .5rem;
}


@media only screen and (max-width: 1280px) {
	.secondary-banner.bannerLarge {
		padding: 15rem 0;
	}
}








