.serviceColumns {
	display: flex;
	flex-wrap: wrap;
}

.serviceContent, .serviceImage {
	flex: 30%;
}

.serviceContent {
	padding: 6rem;
}

.serviceContent .Image {
	height: 3rem;
	width: auto;
	margin-bottom: 1.5rem;
}

.serviceContent .fancy-title {
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #212121;
	display: block;
	padding: 0 0 1rem;
  	margin-bottom: 3.5rem;
	transform: scale(1);
	transition: all ease-in-out .2s;
}

.serviceContent .fancy-title:hover {
	transform: scale(1.05) translateX(1rem);
}

.serviceContent .button {
	display: inline-block;
	border: none;
	padding-left: 0;
}

.serviceContent .button:after {
	display: none;
}

.serviceColumns .serviceImage, .serviceColumns .serviceContent {
	max-height: 40rem;
}

.serviceColumns .serviceImage:last-of-type {
	min-height: 80rem;
}



/*Banner*/

.serviceBanner {
	position: absolute;
	bottom: 0%;
	width: 66.66%;
	height: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.serviceBanner-Content {
	width: 60%;
	margin: auto;
}

.serviceBanner-Content p, .serviceBanner-Content h3, .serviceBanner-Content .button {
	color: white;
	position: relative;
	z-index: 2;
}

.serviceBanner-Content p {
	font-size: 2.5rem;
	text-transform: uppercase;
	opacity: 0.7;
	margin: 0;
}

.serviceBanner-Content h3 {
	font-size: 4rem;
}

.serviceBanner-Content .button {
	display: inline-block;
	margin: 0;
}

.serviceBanner:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.2) 100%);
	background-size: 200% auto;
	background-position: 100% top;
	z-index: 1;
	transition: all ease-in-out .3s;
}

.serviceBanner-Content .button:hover + .BackgroundImage:before {
	background-position: left top;
}


@media only screen and (max-width: 1440px) {
	.serviceContent {
		padding: 4rem;
	}

	.serviceBanner-Content {
		width: 85%;
	}
}

@media only screen and (max-width: 1250px) {
	.serviceContent {
		padding: 3rem;
	}

	.serviceBanner {
		height: 30rem;
	}

	.serviceColumns .serviceImage:last-of-type {
		min-height: 70rem;
	}
}


@media only screen and (max-width: 1150px) {
	.serviceBanner-Content h3 {
		font-size: 3rem;
	}

	.serviceBanner-Content p {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 1024px) {
	.serviceBanner {
		height: 25rem;
	}

	.serviceColumns .serviceImage:last-of-type {
		min-height: 65rem;
	}

	.serviceBanner-Content h3 {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 1020px) {
	.serviceBanner {
		height: auto;
		position: relative;
		width: 100%;
		padding: 6rem 3rem;
		text-align: center;
	}

	.serviceColumns .serviceContent,
	.serviceColumns .serviceImage {
		max-height: none;
	}

	.serviceColumns .serviceImage:last-of-type {
		min-height: auto;
	}

	.serviceBanner-Content h3 {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 850px) {
	.serviceContent {
		padding: 3rem 2rem;
	}
	.serviceContent .Image {
		height: 2.5rem;
		margin-bottom: 1rem;
	}

	.serviceContent .fancy-title {
		font-size: 1.6rem;
		padding: 0 0 .5rem;
		margin-bottom: 2rem;
	}

	.serviceContent p {
		font-size: 1.4rem;
	}

	.serviceContent .button {
		font-size: 1.4rem;
		padding: 1.5rem;
		padding-left: 0;
	}
}

@media only screen and (max-width: 765px) {
	.serviceContent, .serviceImage {
		flex: 0 0 50%;
	}

	.serviceContent:first-child {
		order: 1;
	}

	.serviceContent:nth-child(3) {
		order: 4;
	}

	.serviceContent:nth-child(5) {
		order: 5;
	}

	.serviceImage:nth-child(2) {
		order: 2;
	}

	.serviceImage:nth-child(4) {
		order: 3;
	}

	.serviceImage:nth-child(6) {
		order: 6;
	}
}

@media only screen and (max-width: 425px) {
	.serviceBanner {
		padding: 4rem 2rem;
	}

	.serviceBanner-Content h3 {
		font-size: 2.6rem;
		line-height: 1.2;
	}

	.serviceBanner-Content p {
		font-size: 1.6rem;
		line-height: 1.2;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 380px) {
	.serviceContent,
	.serviceImage {
		flex: 0 0 100%;
		order: none;
	}

	.serviceImage {
		min-height: 25rem !important;
	}

	.serviceContent:nth-child(3) {
		order: 3;
	}

	.serviceImage:nth-child(4) {
		order: 4;
	}
}

@media only screen and (max-width: 320px) {
	.serviceBanner-Content h3 {
		font-size: 2rem;
	}

	.serviceBanner-Content p,
	.serviceBanner-Content .button {
		font-size: 1.4rem;
	}
}
