.homeVideo .share-buttons {
	position: absolute;
	left: 2rem;
	top: 40%;
	transform: translateY(-50%);
	z-index: 2;
	display: block;
}

.homeVideo .share-buttons li {
	margin-bottom: 1.5rem;
}

.homeVideo .share-buttons a {
	border-color: white;
}

.homeVideo .share-buttons svg * {
	fill: white;
}

.homeVideo .share-buttons a:hover {
	background-color: rgba(255,255,255,0.4);
}