.SubscribeBanner {
	background-color: white;
	padding: 10rem 0;
}

.SubscribeBanner .container {
	text-align: center;
}

.SubscribeBanner .form-description {
	margin-bottom: 4rem;
}

.SubscribeBanner .form-description h4 {
	margin-bottom: 0;
	color: rgba(65,63,71,0.7);
}

.SubscribeBanner .Form {
	margin: 0 auto;
	border-bottom: .1rem solid #212121;
	align-items: flex-end;
}

.SubscribeBanner .Form--Label {
	flex: 0 0 70%;
}

.SubscribeBanner .Form--Input {
	border: none;
	line-height: 1;
}

.SubscribeBanner .Form--Input::placeholder {
	color: #212121;
}

.SubscribeBanner .form-footer {
	flex: 1;
	padding: 0;
}

.SubscribeBanner .form-footer .button {
	padding: 1.5rem 3rem 1.5crem 1.5rem;
}

@media (max-width: 1024px) {
	.SubscribeBanner {
		padding: 6rem 0;
	}
}

@media (max-width: 650px) {
	.SubscribeBanner .form-description h4 {
		font-size: 2rem;
	}

	.SubscribeBanner .form-description h3 {
		font-size: 2.4rem;
	}
}

@media (max-width: 550px) {
	.SubscribeBanner .form-description h4 {
		font-size: 1.8rem;
	}

	.SubscribeBanner .form-description h3 {
		font-size: 2rem;
	}
}

@media (max-width: 425px) {
	.SubscribeBanner {
		padding: 6rem 0;
	}
	.SubscribeBanner .form-description h4 {
		font-size: 1.6rem;
	}

	.SubscribeBanner .form-description h3 {
		font-size: 1.8rem;
	}

	.SubscribeBanner .Form--Label {
		flex: 2;
	}

	.SubscribeBanner .Form--Input {
		padding: 1rem;
		font-size: 1.4rem;
	}

	.SubscribeBanner .form-footer .button {
		font-size: 1.4rem;
	}
}
