.featuredTestimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 0 12rem 20rem;
}

.testimonialIntro {
    flex: 0 0 25%;
}

.testimonialIntro .button {
    display: inline-block;
}

.slider {
    display: flex;
    position: relative;
    flex: 0 0 65%;
    justify-content: flex-start;
}

.slide {
    background: white;
    z-index: -999;
    padding: 4rem 6rem;
    transition: opacity ease-in-out 0.5s;
    width: 50%;
    flex: 0 0 50%;
    border-radius: 5px;
    opacity: 0.3;
    box-shadow: 0 0 3rem 0 rgba(0,0,0, 0.1);
}

.slide:nth-of-type(4) {
  order: 3;
}

.slide:nth-of-type(5) {
  order: 4;
}

.slide:nth-of-type(6) {
  order: 5;
}

.slide .gatsby-image-outer-wrapper {
    position: absolute !important;
    top: 0;
    left: 4rem;
    transform: translateY(-50%);
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    border: .5rem solid white;
    box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);
}

.slide .img-thumbnail {
    position: absolute;
    top: 0;
    transform: translateY(-40%);
    left: 4rem;
    height: 9.5rem;
    width: 9.5rem;
    border-radius: 100%;
    border: 3px solid white;
    box-shadow: 0 0 3rem 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.slide .title {
    text-transform: uppercase;
    color: var(--primary);
    text-align: right;
    position: relative;
    font-size: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.slide .title:before, .slide .title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: .1rem;
    width: 6rem;
    background-color: var(--primary);
}

.slide .title:after {
    bottom: -.5rem;
}

.slide p {
    font-size: 1.4rem;
}

.slide .read-more {
  font-size: 1.4rem;
  font-weight: 600;
}

.slide .read-more:hover {
  text-decoration: underline;
}

.slide.active {
    order: 1;
    z-index: 1;
    animation: fadeIn 0.5s linear forwards;
    opacity: 1;
}

.slide-prev {
    position: relative;
    left: -5vw;
    order: 0;
    z-index: 1;
    display: none;

}

.slide-next {
    position: relative;
    left: 5vw;
    order: 2;
    z-index: 1;
}

.slider-dots {
    position: absolute;
    top: calc(100% + 6rem);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    transform: translateX(-50%);
}

.slider-dots span {
    margin: 0 5px;
    display: block;
    width: 1.25rem;
    flex: 0 0 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: var(--primary);
    opacity: 0.45;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}


.slider-dots span.active,
.slider-dots span:hover {
    opacity: 1;
}

@keyframes fadeIn {
    0 {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 1300px) {
  .featuredTestimonials {
    padding: 8rem 0 12rem 8rem;
  }

  .featuredTestimonials .slide {
    padding: 4rem 3rem;
  }
}


@media only screen and (max-width: 1300px) {
  .featuredTestimonials {
    flex-wrap: wrap;
    padding: 6rem 8rem 12rem;
  }

  .testimonialIntro {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 8rem;
  }

  .featuredTestimonials .slider {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .featuredTestimonials .slide {
    width: 100%;
    flex: 0 0 100%;
    opacity: 0;
  }

  .slider-dots {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 700px) {
  .featuredTestimonials {
    flex-wrap: wrap;
    padding: 6rem 0 12rem;
    margin: 0 auto;
    max-width: 80%;
  }
}

@media only screen and (max-width: 425px) {
  .slide .img-thumbnail {
    left: 2rem;
    height: 8.5rem;
    width: 8.5rem;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 375px) {
  .slide .title {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  .featuredTestimonials {
    max-width: 85%;
  }

  .testimonialIntro .button {
    padding: 1.5rem 1rem;
    font-size: 1.4rem;
  }

  .featuredTestimonials .slide {
    padding: 5rem 2rem 3rem;
  }

  .slide .title {
    text-align: left;
  }
}
