.video-section {
  margin: 2rem 0;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  cursor: pointer;
  background-color: #212121;
}

.video-section > * {
  max-width: 100% !important;
}

.video {
  width: 100%;
  border: none;
  display: block;
  min-height: 50rem;
  position: relative;
}

.video-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Video Overlay*/

.video-section .overlay-content {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.5s;
}

.video-section .overlay-content.active {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.video-section .overlay-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
  z-index: 2;
}

.video-section .overlay-content h2,
.video-section .overlay-content .playButton,
.video-section .overlay-content .button {
  position: relative;
  z-index: 3;
}

.video-section .overlay-content h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 4rem;
  max-width: 86rem;
  text-align: center;
  line-height: 1.2;
}

.video-section .overlay-content .playButton {
  transform: scale(1);
  transition: all ease-in-out 0.2s;
}

.video-section.videoOverlay .video {
  min-height: 55rem;
  position: relative;
  margin: 0;
}

.video-section .overlay-content .button:hover {
  transform: scale(1);
}

.video-section .overlay-content .button:hover svg {
  transform: translateX(0);
}

.video-section .overlay-content:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
  z-index: 2;
}

.video-section:hover .overlay-content:before {
  background-color: rgba(0, 0, 0, 0.5);
}

.video-section:hover .overlay-content .playButton {
  transform: scale(1.05);
}

/*Video Banner*/

.video-section.videoBanner {
  padding-bottom: 30%;
  margin: 0;
}

/*Home Video*/

.video-section.homeVideo {
  cursor: default;
  margin: 0;
  position: relative;
}

.video-section.homeVideo .video-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video-section.homeVideo .overlay-content {
  justify-content: flex-start;
  z-index: 3;
  opacity: 1;
  visibility: visible;
}

.video-section.homeVideo .overlay-content:before {
  display: none;
}

.video-section.homeVideo .background-video {
  position: relative;
}

.video-section.homeVideo .img-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.2s;
  z-index: 2;
}

.video-section.homeVideo .overlay-content .container {
  max-width: 53%;
  padding-top: 10vw;
  margin: 0 0 0 auto;
  flex-wrap: wrap;
}

.video-section.homeVideo .overlay-content h1,
.video-section.homeVideo .overlay-content .button {
  text-align: left;
  line-height: 1;
  display: inline-block;
  position: relative;
  z-index: 4;
}

.video-section.homeVideo .overlay-content h1 {
  font-size: 18rem;
  font-weight: 600;
  margin: 0;
  max-width: 140rem;
  flex: 0 0 100%;
}

/* Boats */

.boat .video-section,
.SingleBoatTour .video-section {
  max-width: 60%;
  margin: 8rem auto 0;
  padding-bottom: 35.25%;
}

@media only screen and (max-width: 1800px) {
  .video-section.homeVideo .overlay-content h1 {
    font-size: 16rem;
  }
}

@media only screen and (max-width: 1600px) {
  .video-section.homeVideo .overlay-content h1 {
    font-size: 14rem;
  }
}

@media only screen and (max-width: 1550px) {
  .video-section.homeVideo .overlay-content .container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 21rem;
  }

  .video-section.homeVideo .overlay-content h1 {
    font-size: 12rem;
    flex: 0 0 100%;
    max-width: none;
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 1440px) {
  .video-section.videoBanner {
    padding-bottom: 40%;
  }

  .video-section.homeVideo .overlay-content .container {
    padding-top: 17rem;
  }
}

@media only screen and (max-width: 1280px) {
  .video-section.homeVideo {
    padding: 0;
    height: auto;
    background-color: white;
  }

  .video-section.homeVideo .video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
  }

  .video-section.homeVideo .overlay-content .container {
    padding-top: 21vw;
  }

  .video-section .overlay-content h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1070px) {
  .video-section.homeVideo .overlay-content h1 {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 1024px) {
  .video-section .overlay-content h2 {
    margin-bottom: 2rem;
  }

  .video-section .overlay-content .button.buttonWhite {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 950px) {
  .video-section.homeVideo .overlay-content h1 {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .video-section .overlay-content h2 {
    font-size: 2.2rem;
    max-width: 90%;
  }

  .video-section .overlay-content .playButton svg {
    height: 6.5rem;
    width: 6.5rem;
  }
}

@media only screen and (max-width: 750px) {
  .video-section.homeVideo .overlay-content h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 700px) {
  .video-section {
    min-height: 30rem;
  }
}

@media only screen and (max-width: 550px) {
  .video-section.homeVideo .overlay-content h1 {
    font-size: 4rem;
  }

  .video-section.homeVideo .overlay-content .container {
    padding-top: 24vw;
  }
}

@media only screen and (max-width: 450px) {
  .video-section.homeVideo .overlay-content h1 {
    font-size: 4rem;
  }

  .video-section.homeVideo {
    margin-top: 11.7rem;
  }

  .video-section.homeVideo .img-container {
    padding-bottom: 30rem;
    position: relative;
  }

  .video-section.homeVideo .overlay-content .container {
    padding-top: 12rem;
  }
}

@media only screen and (max-width: 375px) {
  .video-section .overlay-content h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 320px) {
  .video-section.homeVideo .overlay-content h1 {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 850px) {
  .homeVideo .background-video video {
    transform: scale(2);
    min-height: 40rem;
  }
}
@media screen and (max-width: 400px) {
  .homeVideo .background-video video {
    transform: scale(2);
    min-height: 30rem;
  }
}
