@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400|Work+Sans:300,400,600');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary: #212121;
  --secondary: rgba(65, 63, 71, 0.7);
  --offWhite: #f8f8f8;
  --lightGrey: rgba(65, 63, 71, 0.6);
  --darkGrey: #413f47;
  --midBlue: #3e4458;
  --darkBlue: #2c3140;
  --font-system: system-ui; /* postcssPresetEnv */
  --fontMain: 'Work Sans', sans-serif;
  --fontSecondary: 'Maven Pro', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: rgba(65, 63, 71, 0.6);
}

body {
  font-family: 'Work Sans', sans-serif;
  min-height: 100%;
  position: relative;
  background-color: #f8f8f8;
  color: rgba(65, 63, 71, 0.7);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 940px;
}
.container.skinnier {
  max-width: 750px;
}
.container.large {
  max-width: 1280px;
}

img,
iframe {
  max-width: 100%;
}

.image-container {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  color: #212121;
  font-weight: 600 !important;
  text-transform: uppercase;
}

h1 {
  font-size: 4.4rem;
  color: white;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

p,
li,
a,
span {
  font-size: 1.6rem;
}

p a,
li a,
span a {
  font-size: inherit;
}

p span,
li span,
a span {
  font-size: inherit;
}

a {
  color: #212121;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

blockquote {
  text-align: center;
  line-height: 1.4;
  color: #212121;
  font-size: 2rem;
}

blockquote p {
  font-size: inherit;
}

.title-gradient {
  background: linear-gradient(to right, #d0eff4, #ffecce, #fffbf5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800 !important;
}

.fancy-title,
.fancy-container h2 {
  position: relative;
  padding: 0 0 1rem;
  margin-bottom: 3.5rem;
}

.fancy-title:before,
.fancy-container h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8rem;
  height: 0.1rem;
  background-color: #212121;
}

.fancy-title:after,
.fancy-container h2:after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 8rem;
  height: 0.1rem;
  background-color: #212121;
}

.alignCenter.fancy-container {
  text-align: center;
  margin: 0 auto;
}

.alignCenter.fancy-title:before,
.alignCenter.fancy-title:after,
.alignCenter.fancy-container h2:before,
.alignCenter.fancy-container h2:after {
  right: 0;
  margin: 0 auto;
}

.overlay .container {
  position: relative;
  z-index: 2;
}

.overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.NavLink {
  display: block;
  font-weight: 600;
  color: inherit;
  text-transform: uppercase;
  opacity: 0.8;
}

.NavLink:hover,
.NavLink.active,
.NavLink:focus {
  color: #212121;
  opacity: 1;
  border: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/*Form*/

.Form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
  margin: 2.5rem 0;
}

.Form--Label {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.Form--Label select {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 20%;
}

.Form--Input {
  font-family: inherit;
  font-size: 1.6rem;
  color: #212121;
  flex-grow: 1;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid #212121;
  padding: 1.5rem 2rem;
  line-height: 1.25em;
  transition: border-color 0.2s;
  resize: none;
  width: 100%;
}

.Form--Select {
  background: none;
  appearance: none;
}

.Form--Label.has-arrow:after {
  content: '';
  position: absolute;
  right: 2.5rem;
  top: 50%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 10px;
  width: 10px;
  transform: translateY(-75%) rotate(45deg);
  pointer-events: none;
}

.Form--Input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.Form--Input:focus {
  outline: none;
  border-color: black;
}

.Form--Input:focus {
  outline: none;
}

.Form--Input[disabled],
.Form--SubmitButton[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.Form--Input::placeholder {
  text-transform: none;
}

.Form--Alert {
  flex: 0 0 100%;
  text-align: center;
  padding: 2rem 0 4rem;
}

.Form--Input-honey {
  display: none;
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem 0 1.5rem 2rem;
  margin: 0;
  position: relative;
}

.form-footer .button {
  border: none;
  padding: 1rem 3rem 1rem 1rem;
  position: relative;
  z-index: 1;
}

.form-footer svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all ease-in-out 0.2s;
}

.form-footer .button:hover + svg {
  transform: scale(1.05) translateY(-50%);
}

input::placeholder {
  /* color: #212121; */

  color: white;
}

.error-404 {
  position: fixed;
  z-index: 999999;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-404 h1 {
  color: #212121;
  font-size: 12rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.error-404 h3 {
  margin-bottom: 3rem;
}

.error-404 .button {
  display: inline-block;
}

@media only screen and (max-width: 425px) {
  h2 {
    line-height: 1.2;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 2.6rem;
    line-height: 1.2;
  }
}
